.service-wrapper {
  display: flex;
  padding: 3% 0;
}

.service-wrapper:nth-of-type(even) {
  flex-flow: row-reverse;
  background-color: #ff6a0020;
}

.service-text {
  width: 50%;
  padding: 3% 3% 0 5%;
}

.service-text h2 {
  font-size: 1.5rem;
}

.service-text h2 a {
  font-size: 1rem;
  text-decoration: underline;
  padding-left: 10%;
}

.service-text h2 a:hover {
  color: orange;
}

.service-text p {
  padding: 3% 0;
  line-height: 1.5;
}

.service-img {
  width: 45%;
  padding: 0 3%;
}

.service-img img {
  width: 100%;
}

.service-area {
  /* border: 1px solid black; */
  width: 40%;
  padding-left: 60%;
  margin-top: 3%;
  line-height: 1.5;
  text-decoration: underline;
}

/* ----------------------------------------
voice
--------------------------------------------*/
.voice-inner {
  border: 1px solid gray;
  width: 90%;
  margin: 0 auto;
}

.voice h2 {
  font-size: 2rem;
  text-align: center;
  background: white;
  width: 30%;
  margin: -1% auto;
}

.voice-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 5%;
}

.voice-item {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 5%;
  background: #ff6a0020;
}

.voice-img {
  width: 20%;
}

.voice-img img {
  width: 100%;
  background: white;
  border: 1px solid gray;
  border-radius: 50%;
  margin-left: -50%;
}

.voice-text {
  padding: 3% 0;
  width: 80%;
}