.service-wrapper {
  display: flex;
  padding: 3% 0;
}

.service-wrapper:nth-of-type(even) {
  flex-flow: row-reverse;
  background-color: #ff6a0020;
}

.service-text {
  width: 50%;
  padding: 3% 3% 0 5%;
}

.service-text h2 {
  font-size: 1.5rem;
}

.service-text h2 a {
  font-size: 1rem;
  text-decoration: underline;
  padding-left: 10%;
}

.service-text h2 a:hover {
  color: orange;
}

.service-text p {
  padding: 3% 0;
  line-height: 1.5;
}

.service-img {
  width: 45%;
  padding: 0 3%;
}

.service-img img {
  width: 100%;
}