.company-wrapper {
  display: flex;
}

.company-overview {
  /* border: 1px solid black; */
  width: 50%;
}

.company-overview h2 {
  margin: 0 0 10% 15%;
  font-size: 1.8rem;
  text-decoration: underline;
}

.overview-contents {
  display: flex;
  margin: 5% 10% 0 10%;
  letter-spacing: 1px;
  line-height: 1.5;
  border-bottom: 1px solid gray;
}

.overview-contents h3 {
  width: 25%;
}

.company-history {
  /* border: 1px solid black; */
  width: 50%;
}

.company-history h2 {
  margin: 0 0 10% 15%;
  font-size: 1.8rem;
  text-decoration: underline;
}

.history-contents {
  display: flex;
  margin: 5% 10% 0 10%;
  letter-spacing: 1px;
  line-height: 1.5;
}

.history-contents time {
  width: 20%;
}