.news-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.news-text p {
  line-height: 1.8;
}

.news-switch {
  display: flex;
  width: 60%;
  margin: 3% auto;
}

.news-switch button {
  width: 25%;
  font-size: 1rem;
  padding: 1% 0;
  background: none;
  border: 1px solid #ff6800;
}

.news-switch button:hover {
  cursor: pointer;
  font-weight: bold;
  background: #ff6a0050;
}

.news-lines {
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  overflow: auto;
}

 /* ↓↓↓ スクロールバーの古い構文 ↓↓↓
 (新構文ではバーの横幅や色のグラデーションなど
 自由なカスタマイズができない） */
.news-lines::-webkit-scrollbar {
  width: 10px;
}

.news-lines::-webkit-scrollbar-track {
  background: #ff6a0030;
  border-radius: 5px;
}

.news-lines::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #ff6b00;
  border-radius: 5px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
   ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

.news-lines article{
  display: flex;
  font-size: 1.2rem;
  padding: 3% 0;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.date {
  /* border: 1px solid red; */
  width: 20%;
  border-right: 1px solid gray;
}

.category {
  /* border: 1px solid red; */
  width: 20%;
  text-align: center;
}

.contents {
  /* border: 1px solid red; */
  width: 60%;
}

.contents:hover {
  color: orange;
}
